@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* GLOBAL STYLES */
header {
    background-color: #FFFFA9;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    opacity: 1;
    padding-bottom: 10px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    padding: 40px;
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
    background-image: url('img/background2.jpg');
    background-color: rgba(51, 170, 51);
    color: #313131;
    opacity: 0.95;
}

h1 {text-align: center;
    /*font-family: 'Pokemon Hollow', sans-serif;*/
    font-family: 'Press Start 2P', cursive;
    font-size: 60px;
}

h2 {text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
}

hr {
    border-top: 2px solid rgb(44, 51, 62);
    margin: auto;
}

/* TABLE STYLES */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

th, td {
    padding: 12px 15px;
    border: 1px solid black;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 12px;
}

tr:last-child td {
    border-bottom: none;
}

tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

button {
    background-color: rgb(159, 255, 195);
    color: #51F693;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
}

button:hover {
    background-color: rgb(159, 255, 195);
}

button:active {
    background-color: rgb(12, 67, 187);
}

/* INPUT STYLES */
input, textarea {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

input::placeholder, textarea::placeholder {
    color: #aaa;
}

/* OTHER STYLES */
.loading-gif {
    height: 1em;
    vertical-align: middle;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 100%;
}

.body-container {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 15px 15px 15px 15px;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
}

/*Obtained from https://getcssscan.com/css-buttons-examples by Temani Afif*/
.button-89 {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #373B44;
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);--_p: var(--s);
    background:conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;outline-offset: .6em;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-89:hover,.button-89:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.button-89:active {
    background: var(--color);
    color: #fff;
}